<div class="sth-events-container" id="events">
  <div class="sth-events-content">
    <div class="sth-event">
      <aside class="sth-event__aside">
        <img src={{.image}} height="598" />
      </aside>
      <div class="sth-event__content">
        <span class="sth-event__featured">Featured Event</span>
        <h2 class="sth-event__heading">{{.heading}}</h2>
        <p class="sth-event__date">{{.date}}</p>
        <p class="sth-event__location">{{.location}}</p>
        <p class="sth-event__text">{{.text}}</p>
        <a href={{.buttonLink}} class="sth-event__link">Find out more</a>
      </div>
    </div>
  </div>
</div>